body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #0b0c10;
    color: #c5c6c7;
}

header {
    background-color: #1f2833;
    padding: 20px;
    text-align: center;
    color: #66fcf1;
}

nav {
    background-color: #1f2833;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #66fcf1;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
}

h2 {
    color: #45a29e;
}

footer {
    background-color: #1f2833;
    text-align: center;
    padding: 10px;
    color: #66fcf1;
    margin-top: 20px;
}